h1 {
    font-size: 30px;
    padding: 0 0 25px 0;
}

h2 {
    font-size: 25px;
    padding: 25px 0 0 0;
}

h3 {
    font-size: 20px;
    padding: 0 0 0 0;
}

h1,h2,h3,p,ul {
    color: green;
}


strong {
    font-weight: 800;
}

.centered {
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

/* Styles for screens smaller than 600px (e.g., mobile phones) */
@media (max-width: 899px) or (width: 899px) {
    .row-bound {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 5%;
    }

    #jenga-tower {
        padding-bottom: 50px;
    }
}

/* Styles for screens larger than 600px (e.g., desktops) */
@media (min-width: 900px) {
    .row-bound {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 5%;
    }
}