body {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.container,
.container * {
  box-sizing: border-box;
}
.container {
  background: rgba(34, 34, 40, 1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  min-height: 1080px;
  position: relative;
}
.subcontainer {
  background: rgba(216, 216, 216, 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header {
  background: linear-gradient(
    90deg,
    rgba(71, 79, 81, 0) 0%,
    rgba(71, 79, 81, 0.1) 100%
  );
  padding: 21px 23px 21px 23px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.mm-icon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.mm-logo {
  flex-shrink: 0;
  width: 252px;
  height: 50px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 252/50;
}
.vertical-line {
  background: #aea6b1;
  padding: 1px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1px;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.rcos-button {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  text-decoration: none; /* Removes underline */
  transition: all 0.3s ease-in-out;
}
.rcos-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.view-our-project-on {
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.rcos-logo {
  flex-shrink: 0;
  width: 61px;
  height: 25px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 61/25;
}
.git-hub-button {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  text-decoration: none; /* Removes underline */
  transition: all 0.3s ease-in-out;
}
.git-hub-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.view-our-repos-on {
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.git-hub-logo {
  flex-shrink: 0;
  width: 111px;
  height: 33px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 111/33;
}
.contents {
  background: rgba(71, 79, 81, 0);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 920px;
  position: relative;
  overflow: hidden;
}
.sidebar {
  background: linear-gradient(
    -90deg,
    rgba(71, 79, 81, 0) 0%,
    rgba(71, 79, 81, 0.05) 100%
  );
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 350px;
  min-height: 920px;
  position: relative;
  overflow: hidden;
}
.overview-button {
  padding: 0px 0px 0px 10px;
  color: white;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.overview-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.u-24 {
  color: #edeaff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.u-24-mtgm-button {
  padding: 5px 0px 0px 10px;
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.u-24-mtgm-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  border-radius: 5px;
}
.u-24-gsvis-button {
  padding: 5px 0px 0px 10px;
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.u-24-gsvis-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  border-radius: 5px;
}
.u-24-gssv-1-button {
  padding: 5px 0px 0px 10px;
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.u-24-gssv-1-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  border-radius: 5px;
}
.s-25 {
  color: #edeaff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.s-25-rour-button {
  padding: 5px 0px 0px 10px;
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.s-25-rour-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  border-radius: 5px;
}
.s-25-gsgip-button {
  padding: 5px 0px 0px 10px;
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.s-25-gsgip-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  border-radius: 5px;
}
.s-25-gssv-2-button {
  padding: 5px 0px 0px 10px;
  color: #aea6b1;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transition: all 0.3s ease-in-out;
}
.s-25-gssv-2-button:hover {
  background-color:rgba(174, 166, 177, 0.25);
  color: white;
  border-radius: 5px;
}
.content {
  background: rgba(71, 79, 81, 0);
  padding: 40px 27px 40px 27px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-height: 920px;
  position: relative;
  overflow: hidden;
}
.overview-text {
  color: #edeaff;
  text-align: left;
  position: relative;
  width: 1050px;
}
.overview-text-span {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 300%;
  line-height: auto;
  font-weight: 700;
}
.overview-text-span2 {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-span3 {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-span4 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.jenga-subsection {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  max-width: 1050px;
}
.overview-text2 {
  color: #edeaff;
  text-align: left;
  position: relative;
  align-self: stretch;
  width: 777px;
}
.overview-text-2-span {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-2-span2 {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-2-span3 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-2-span4 {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-2-span5 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.jenga-tower-cropped {
  flex-shrink: 0;
  width: 224px;
  height: 516px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 224/516;
}
.jenga-tower-wide {
  flex-shrink: 0;
  width: 516px;
  height: 516px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 224/516;
}
.jenga-tower-wide2 {
  flex-shrink: 0;
  width: 650px;
  height: 516px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 224/516;
}
.overview-text3 {
  color: #edeaff;
  text-align: left;
  position: relative;
  align-self: stretch;
  width: 1050px;
  max-width: 1050px;
}
.overview-text-3-span {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-3-span2 {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-3-span3 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.overview-text-3-span4 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span5 {
  color: #edeaff;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-3-span6 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span7 {
  color: #edeaff;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-3-span8 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span9 {
  color: #edeaff;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-3-span10 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span11 {
  color: #edeaff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 50px;
  font-weight: 700;
}
.overview-text-3-span12 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.overview-text-3-span13 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span14 {
  color: #edeaff;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-3-span15 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span16 {
  color: #edeaff;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-3-span17 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.overview-text-3-span18 {
  color: #edeaff;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
.overview-text-3-span19 {
  color: #edeaff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}

.page {
  display:contents;
  flex-direction: column;
}
.binary {
  padding-top: 2vh;
  padding-bottom: 0vh;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}








/* Do not change these! */
a {
  text-decoration: none;
}
.link {
  color: #ff8aa2;
  font-weight: bold;
}
body {
  background-color: rgba(34, 34, 40, 1);
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: linear-gradient(#17bebb,#ff8aa2); /* Track color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff83; /* Scrollbar color */
  border-radius: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff7c; /* Scrollbar color on hover */
}