* {
    font-family: "Noto Sans", sans-serif;
}

body {
    color: red;
    line-height: 30px;
}

h1 {
    font-size: 24px;
    color: blue;
}

h2 {
    font-size: 20px;
    color: blue;
}

.vbar {
    height: 30px;
    width: 2.5px;
    border-radius: 5px;
    background-color: black;
}


/* Styles for screens smaller than 600px (e.g., mobile phones) */
@media (max-width: 899px) or (width: 899px) {
    .hstack {
        display: flex;
        height: 100vh;
        padding: 10px 0 0 0;
        gap: 10px;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: max-content;
        padding: 5px;
        gap: 10px;
        background-color: rgb(235, 212, 212);
    }

    .header-elements {
        display: flex; 
        flex-direction: column; 
        align-items: center;"
    }

    .nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: max-content;
        padding: 20px;
        gap: 2px;
        line-height: 24px;
        background-color: rgb(235, 212, 212);
        /*visibility: hidden;
        width: 0px;*/
    }
    #show-nav-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        visibility: visible;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100%;
        width: 80%;
        padding-left: 20px;
        padding-right: 10px;
        gap: 15px;
    }
}

/* Styles for screens larger than 600px (e.g., desktops) */
@media (min-width: 900px) {
    .hstack {
        display: flex;
        height: 100vh;
        padding: 10px 0 0 0;
        gap: 10px;
        flex-direction: row;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: max-content;
        padding: 5px;
        gap: 10px;
        background-color: rgb(235, 212, 212);
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 15vw;
        height: max-content;
        padding: 20px;
        gap: 15px;
        background-color: rgb(235, 212, 212);
    }
    #show-nav-button {
        height: 0px;
        visibility: hidden;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100%;
        width: 70%;
        padding: 20px;
        gap: 15px;
    }
}
