.container,
.container * {
  box-sizing: border-box;
}
.container {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 40, 1) 0%,
    rgba(45, 40, 42, 1) 100%
  );
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  min-height: 1080px;
  position: relative;
}
.subcontainer {
  background: rgba(216, 216, 216, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header {
  background: rgba(255, 255, 255, 0.1);
  padding: 21px 23px 21px 23px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.icon {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.logo {
  flex-shrink: 0;
  width: 310px;
  height: 62px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 310/62;
}
.contents {
  background: rgba(71, 79, 81, 0.05);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 920px;
  position: relative;
  overflow: hidden;
}
.sidebar {
  background: rgba(255, 255, 255, 0.05);
  align-self: stretch;
  flex-shrink: 0;
  width: 300px;
  min-height: 920px;
  position: relative;
  overflow: hidden;
}
.content {
  background: rgba(71, 79, 81, 0.05);
  padding: 40px 27px 40px 27px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-height: 920px;
  position: relative;
  overflow: hidden;
}
.overview-introduction-welcome-to-move-master-originally-an-rcos-project-move-master-was-created-with-the-vision-of-combining-physics-simulation-and-machine-learning-to-determine-the-most-optimal-move-set-for-winning-various-online-and-tabletop-games-by-leveraging-advanced-computational-techniques-move-master-strives-to-provide-users-with-strategic-recommendations-tailored-to-the-selected-game {
  color: #ffffff;
  text-align: left;
  position: relative;
  align-self: stretch;
  width: 1300px;
}
.overview-introduction-welcome-to-move-master-originally-an-rcos-project-move-master-was-created-with-the-vision-of-combining-physics-simulation-and-machine-learning-to-determine-the-most-optimal-move-set-for-winning-various-online-and-tabletop-games-by-leveraging-advanced-computational-techniques-move-master-strives-to-provide-users-with-strategic-recommendations-tailored-to-the-selected-game-span {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 65px;
  line-height: 50px;
  font-weight: 700;
}
.overview-introduction-welcome-to-move-master-originally-an-rcos-project-move-master-was-created-with-the-vision-of-combining-physics-simulation-and-machine-learning-to-determine-the-most-optimal-move-set-for-winning-various-online-and-tabletop-games-by-leveraging-advanced-computational-techniques-move-master-strives-to-provide-users-with-strategic-recommendations-tailored-to-the-selected-game-span2 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}
.overview-introduction-welcome-to-move-master-originally-an-rcos-project-move-master-was-created-with-the-vision-of-combining-physics-simulation-and-machine-learning-to-determine-the-most-optimal-move-set-for-winning-various-online-and-tabletop-games-by-leveraging-advanced-computational-techniques-move-master-strives-to-provide-users-with-strategic-recommendations-tailored-to-the-selected-game-span3 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 700;
}
.overview-introduction-welcome-to-move-master-originally-an-rcos-project-move-master-was-created-with-the-vision-of-combining-physics-simulation-and-machine-learning-to-determine-the-most-optimal-move-set-for-winning-various-online-and-tabletop-games-by-leveraging-advanced-computational-techniques-move-master-strives-to-provide-users-with-strategic-recommendations-tailored-to-the-selected-game-span4 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}





body {
   background-color: #2d282a;
}
::-webkit-scrollbar {
   width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
   background: linear-gradient(#17bebb,#ef2e55); /* Track color */
   border-radius: 5px;
}

::-webkit-scrollbar-thumb {
   background: #464f5183; /* Scrollbar color */
   border-radius: 5px;
   height: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: #ffffff7c; /* Scrollbar color on hover */
}